.highlight .gp,
.highlight .go {
  /* Generic.Prompt, Generic.Output */
  user-select: none;
}

.md-typeset .admonition {
  display: block;
  max-width: fit-content;
  margin: 10px;
}

:root {
  --md-admonition-icon--important: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/></svg>');
  --md-admonition-icon--caution: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/></svg>');
  --md-admonition-icon--paper: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18,3.5H6c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h12c.28,0,.5.22.5.5s-.22.5-.5.5Z M11,5.5h-4c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h4c.28,0,.5.22.5.5s-.22.5-.5.5Z M17,5.5h-4c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h4c.28,0,.5.22.5.5s-.22.5-.5.5Z M11,9.5h-6c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h6c.28,0,.5.22.5.5s-.22.5-.5.5Z M11,12.5h-6c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h6c.28,0,.5.22.5.5s-.22.5-.5.5Z M11,15.5h-6c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h6c.28,0,.5.22.5.5s-.22.5-.5.5Z M11,18.5h-6c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h6c.28,0,.5.22.5.5s-.22.5-.5.5Z M11,21.5h-6c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h6c.28,0,.5.22.5.5s-.22.5-.5.5Z M19,15.5h-6c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h6c.28,0,.5.22.5.5s-.22.5-.5.5Z M19,18.5h-6c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h6c.28,0,.5.22.5.5s-.22.5-.5.5Z M19,21.5h-6c-.28,0-.5-.22-.5-.5s.22-.5.5-.5h6c.28,0,.5.22.5.5s-.22.5-.5.5Z M19,12.65h-6c-.22,0-.4-.18-.4-.4v-3.5c0-.22.18-.4.4-.4h6c.22,0,.4.18.4.4v3.5c0,.22-.18.4-.4.4ZM13.4,11.85h5.2v-2.7h-5.2v2.7Z M22,24H2c-.28,0-.5-.22-.5-.5V.5c0-.28.22-.5.5-.5h20c.28,0,.5.22.5.5v23c0,.28-.22.5-.5.5ZM2.5,23h19V1H2.5v22Z"/></svg>');
  --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.22 4.97a.75.75 0 0 1 1.06 0l6.5 6.5a.75.75 0 0 1 0 1.06l-6.5 6.5a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L21.19 12l-5.97-5.97a.75.75 0 0 1 0-1.06Zm-6.44 0a.75.75 0 0 1 0 1.06L2.81 12l5.97 5.97a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.5-6.5a.75.75 0 0 1 0-1.06l6.5-6.5a.75.75 0 0 1 1.06 0Z"></path></svg>');
}

.md-typeset .admonition.important,
.md-typeset details.important {
  border-color: rgb(152, 110, 226);
}
.md-typeset .important > .admonition-title,
.md-typeset .important > summary {
  background-color: rgba(152, 110, 226, 0.1);
}
.md-typeset .important > .admonition-title::before,
.md-typeset .important > summary::before {
  background-color: rgb(152, 110, 226);
  -webkit-mask-image: var(--md-admonition-icon--important);
          mask-image: var(--md-admonition-icon--important);
}

.md-typeset .admonition.caution,
.md-typeset details.caution {
  border-color: rgb(229, 83, 75);
}
.md-typeset .caution > .admonition-title,
.md-typeset .caution > summary {
  background-color: rgba(229, 83, 75, 0.1);
}
.md-typeset .caution > .admonition-title::before,
.md-typeset .caution > summary::before {
  background-color: rgb(229, 83, 75);
  -webkit-mask-image: var(--md-admonition-icon--caution);
          mask-image: var(--md-admonition-icon--caution);
}

.md-typeset .admonition.paper,
.md-typeset details.paper {
  border-color: rgb(255, 20, 35);
}
.md-typeset .paper > .admonition-title,
.md-typeset .paper > summary {
  background-color: rgba(255, 20, 35, 0.1);
}
.md-typeset .paper > .admonition-title::before,
.md-typeset .paper > summary::before {
  background-color: rgb(255, 20, 35);
  -webkit-mask-image: var(--md-admonition-icon--paper);
          mask-image: var(--md-admonition-icon--paper);
}

.md-typeset .admonition.code,
.md-typeset details.code {
  border-color: rgb(0, 158, 255);
}
.md-typeset .code > .admonition-title,
.md-typeset .code > summary {
  background-color: rgba(0, 158, 255, 0.1);
}
.md-typeset .code > .admonition-title::before,
.md-typeset .code > summary::before {
  background-color: rgb(0, 158, 255);
  -webkit-mask-image: var(--md-admonition-icon--code);
          mask-image: var(--md-admonition-icon--code);
}
